<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      🐾 FluffyFriend
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userNav"
            aria-controls="userNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="userNav">
      <ul class="navbar-nav align-items-lg-center gap-lg-3">
        <li class="nav-item">
          <a class="nav-link" href="/UserProducts">View All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            Go To Cart
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">
            My Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/refunds">
            Refunds
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
